*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
}

body {
    margin: auto;
    padding: 0;
    background-color: #252B42;
}

.header {
    width: 100%;
    height: 889px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header__navbar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 1440px;
    margin: auto;
    flex-direction: row;
    color: white;
    padding: 16px 20px;
}

.header__navbar h3 {
    margin-right: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
}

.header__navbar-items {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.header__navbar-items li {
    list-style-type: none;
    margin-right: 21px;
    font: normal 700 14px Montserrat, sans-serif;
    letter-spacing: .25px;
}

.header__navbar-items a {
    text-decoration: none;
    color: white;
    transition: all .450s ease;
}

.header__navbar-items a:hover {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.btn-primary {
    border: none;
    background-color: #23A6F0;
    color: white;
    padding: 15px 40px;
    line-height: 22px;
    letter-spacing: .25px;
    border-radius: 5px;
    font: 700 normal inherit;
}

.btn-secondary {
    border: none;
    color: white;
    padding: 15px 40px;
    line-height: 22px;
    letter-spacing: .25px;
    font: 700 normal inherit;
    background-color: transparent;
}

.btn-arrow {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    align-items: baseline;
    flex-direction: row;
}

.btn-arrow .header__arrow-right {
    display: block;
    margin-left: 10px;
}

.header__margin {
    margin-left: 240px;
    margin-right: 45px;
}

.header__welcome {
    color: white;
    margin-left: 180px;
    margin-top: 100px;
}

.header__welcome h5 {
    margin-bottom: 35px;
    padding: 0;
    color: #23A6F0;
}

.header__welcome h1 {
    font: 700 normal inherit;
    line-height: 80px;
    letter-spacing: .25px;
}

.header__welcome h4 {
    margin-bottom: 35px;
    letter-spacing: .25px;
    font-size: 20px;
    font-weight: 400;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #fafafa;
    width: 100%;
}

.footer__title {
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .25px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.container h6 {
    color: #23A6F0;
}

.container__content {
    text-align: center;
    margin-bottom: 0;
}

.container__content h3, h6, p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container__form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}

.container__form input[type=submit] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    margin-right: -10px;
    border-left: none;
}

.container__email {
    width: 668px;
    padding: 17.9px 500px 17.9px 20px;
    border-right: none;
}

.container__row {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    letter-spacing: .25px;
}

.container__row-child {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 240px;
    line-height: 24px;
    font-weight: 700;
}

.container__row-child h3 {
    letter-spacing: .1px;
}

.container__icons {
    display: flex;
    gap: 20px;
}

.container__row-child a {
    text-decoration: none;
    color: white;
    transition: all .4s ease;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .2px;
}

.container__row-child a:hover {
    font-size: 12.5px;
    opacity: .5;
}

.container__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container__card {
    display: flex;
    padding: 35px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}

.container__image-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 35px;
    background-color: #fff;
}

.container__card h5 {
    color: #252B42;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.container__card p {
    color: #737373;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .2px;
    text-align: center;
}

.container__rect {
    background-color: #E74040;
    width: 50px;
    height: 2px;
}

.container__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #E74040;
    color: #fff;
    padding: 22px 19px;
    border-radius: 10px;
}

.container__image-card {
    display: flex;
    width: 501px;
    gap: 20px;
    padding: 25px 25px 0px 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.container__image-card p {
    color: #737373;
    line-height: 22px;
    font-size: 14px;
    letter-spacing: .25px;
}

.container__rounded-image {
    display: block;
    width: 128px;
    height: 128px;
    margin: auto;
    border-radius: 50%;
}

.container__profession {
    width: auto;
    height: auto;
    padding-left: 0px;
    padding-right: 25px;
}

.container__profession h5 {
    color: #252B42;
    text-align: left;
}

.container__profession h6 {
    color: #737373;
    text-align: left;
}

.container__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container__rating .stars {
    display: block;
    width: 22.014px;
    height: 22.014px;
}

.container__rounded-rect {
    position: relative;
    width: 508px;
    height: 570px;
}

.main-img {
    position: absolute;
    width: 350px;
    height: 350px;
    z-index: 2;
}

.img-1 {
    position: absolute;
    left: 60%;
    top: 10%;
    z-index: 3;
}

.img-2 {
    position: absolute;
    left: 35%;
    top: 70%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.shadow-box {
    width: 350px;
    height: 350px;
    border-radius: 0px 83.115px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 0;
    background: #00087E;
}

.container__row-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    gap: 35px;
}

.container__row-column h2, p {
    color: #fff;
}

.learn-more {
    display: flex;
    flex-direction: row;
}

.container__row-column .right-arr {
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.container__row-column a {
    text-decoration: none;
    display: inline-block;
}

.container__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container__row-column .container__rect {
    /* position: relative;
    right: 90px; */
    height: 5px;
}

/* Styles for product cards */
.container__product-cards {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.container__product-card{
    width: 335px;
    height: auto;
}
.container__product-description {
    background-color: #fff;
    padding: 25px;
}

.container__card-image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 335px;
    height: 300px;
    padding: 8px;
    background-image: url("../images/product-cover.png");
    background-size: cover;
    background-position: center;
}

p.sale {
    align-self: flex-start;
    padding: 3px 8px;
    font-size: 14px;
    margin-left: 1em;
    color: #fff;
    background-color: #E74040;
    letter-spacing: .2px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
}

.container__interactions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container__interactions img {
    width: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    padding: 10px;
}

.container__star-rating {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.container__rating-title {
    color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .25px;
    text-decoration: none;
}

.container__rating {
    background-color: #252B42;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}

.container__rating::before {
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 5px;
    color: yellow;
}

h5.product-title {
    color: #252B42;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: .1px;
}

p.product-desc {
    color: #737373;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}

.container__sales {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.2px;
    color: #737373;
}

.container__sale-number::before {
    content: '\f019';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 8px;
    color: #737373;
}

.container__prices {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.product-discount {
    color: #BDBDBD;
}

.product-price {
    color: #40BB15;
}

.row {
    display: flex;
    gap: 10px;
}

.row .lesson-number::before {
    content: '\f080';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 8px;
    color: #737373;
}

.row p.duration::before {
    content: '\f2f2';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 8px;
    color: #737373;
}

.row p.progression::before {
    content: '\f201';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 8px;
    color: #737373;
}

 .duration, .progression, .lesson-number {
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 16px; 
    letter-spacing: 0.2px;
    color: #737373;
 }

 .learn-more::after {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 30px;
    color: #737373;
    transition: all 1s ease;
    
 }

 .learn-more {
    text-align: left;
    text-decoration: none;
    padding: 10px;
    color: #737373;
    border-radius: 25px;
    background-color: #fff;
    transition: background-color .4s ease-in-out;
 }

 .learn-more:hover {
    color: #fff;
    background-color: #737373;
 }

 .learn-more:hover::after {
    margin-left: 100px;
    color: #fff;
 }

 .learnin-link {
    display: inline-block;
    border: 2px solid #737373;
    border-radius: 25px;
 }

 /* Changed the background image of the second product card */
 .bg-image {
    background-image: url("../images/product-cover2.png");
 }
